@import "src/styles/globals";

.dropdown {
    position: relative;
    width: 300px;

    &--content {
        border: $card-border;
        box-shadow: $box-shadow-card;
        background-color: $white;
        border-radius: 4px;
        left: -10px;
        overflow: auto;
        padding: 20px 15px;
        position: absolute;
        top: -15px;
        z-index: $second-layer;
        width: 320px;

        &__large {
            width: 600px;
        }
    }

    &--indicator {
        border-left: $card-border;
        border-top: $card-border;
        background-color: $white;
        height: 16px;
        position: absolute;
        right: 15px;
        top: -8px;
        transform: rotate(46deg);
        width: 16px;
    }
}