@import "src/styles/globals";

.modal {
    border: $card-border;
    box-shadow: $box-shadow-card;
    background-color: $white;
    border-radius: 4px;
    left: -55px;
    padding: 20px 0;
    position: absolute;
    z-index: $second-layer;
    width: 150px;

    &--indicator {
        border-left: $card-border;
        border-top: $card-border;
        background-color: $white;
        height: 16px;
        position: absolute;
        right: 15px;
        top: -8px;
        transform: rotate(46deg);
        width: 16px;
    }

    &--options-item {
        padding: 10px 20px;

        &:hover {
            cursor: pointer;
            background-color: darken($background-white, 4);
        }
    }
}