@import "src/styles/globals";

.register-form {

    &--form {
        padding: 3em 2em 2em 2em;
        width: 380px;
    }

    &--button-left {
        color: $blue;
    }

    &--button-right {
        margin-left: 40px;
    }

    &--error {
        color: red;
        margin-top: 10px;
        text-align: center;
        padding: 5px;
    }
}
