.exams-page {
    flex: 1;
    position: relative;

    &--exam {
        display: flex;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
    }

    &--exam-left-column {
        width: 80%;
    }

    &--exam-right-column {
        width: 20%;
        text-align: right;
    }

    &--add-exam {
        position: absolute;
        right: -10%;
    }
}